<h1>Vprasanje</h1>
<form action="/questions" method="post">
    <input type="text" name="name" placeholder="name" required="">
    <input type="text" name="description" placeholder="description" required="">
    <input type="text" name="tags" placeholder="tags" required="">

    <input type="submit" value="CREATE">
</form>
